@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-size: 0.6944444444vw;
  scroll-behavior: smooth;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 2.66vw;
  }
}


@media screen and (min-width: 1800px) {
  html {
    font-size: 10px;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #0D1117;
  overflow-x: hidden;
  color: #ffff;
}

::-webkit-scrollbar {
  width: 0;
}


p {
  font-size: 1.4rem;
}

.react-multi-carousel-track {
  align-items: center;
  padding-bottom: 4rem !important;
}

button {
  padding-inline: 2rem;
  border-radius: .7rem;
  padding-block: 1rem;
  font-size: 1.3rem;
  font-weight: 700;
}

.react-multi-carousel-item {
  display: grid;
  place-content: center;
  align-self: center;
}



@media screen and (min-width: 600px) {
  .responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
  }

  p {
    font-size: 1.6rem;
    line-height: 2.7rem;
  }

  button {
    padding-inline: 2.5rem;
    font-size: 1.7rem;
    padding-block: 1.3rem;
    border-width: 2px !important;
  }
}

.mask {
  -webkit-mask-image: linear-gradient(90deg, transparent, #000 20%, #000 80%, transparent);
  mask-image: linear-gradient(90deg, transparent, #000 20%, #000 80%, transparent);
}


.react-multi-carousel-dot--active button {
  background: #9B86FE !important;
}


.filter {
  filter: brightness(1.2);
}

.blend {
  mix-blend-mode: color-dodge;
}


.blend2 {
  mix-blend-mode: overlay;
}

.service_card_shadow {
  box-shadow: 0px 0px 6px 0px #FB881780;
}